#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chmod 0700 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/drm/card0-DSI-1/panel_info
    chmod 0744 /sys/class/drm/card0-DSI-1/panel_info
    chmod 0666 /dev/input/event2
    
    # Parts
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0660 /sys/class/drm/sde-crtc-0/measured_fps

    chown system system /sys/class/thermal/thermal_zone78/temp
    chmod 0660 /sys/class/thermal/thermal_zone78/temp
